* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app-container {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app-container .header-light-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #e6b87c15;
}

.app-container .header-light-bar div {
  color: #d8b18294;
  padding: 5px 10px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .app-container .header-light-bar div:hover {
    color: #e6b87c;
  }
}

.app-container .app-header {
  font-size: 3.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #e6b87c;
  padding-top: 20px;
}

.app-container .app-cross-line {
  width: 70vw;
  height: 2px;
  background-color: #d8b18294;
}

.app-container .app-content {
  width: 100%;
}

.nav-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.nav-btn-container .tab-active {
  color: #e6b87c;
}

.nav-btn-container .tab-active::before {
  width: 100%;
}

.nav-btn-container div {
  color: #aaaaaa;
  margin: 10px 20px;
  padding: 5px 0px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-btn-container div::before {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0px;
  height: 3px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: #e6b87c;
  width: 0px;
}

.nav-btn-container div:hover {
  color: #e6b87c;
}

.nav-btn-container div:hover::before {
  width: 100%;
}

.polling-containter {
  margin-top: 20px;
  color: white;
}

.polling-containter .polling-btn-start {
  margin: 10px;
}

.btn-main-orange {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #e6b87c;
  color: #555555;
  border: none;
  outline: none !important;
  -webkit-box-shadow: 0px 0px 4px 0px #e7c89f;
          box-shadow: 0px 0px 4px 0px #e7c89f;
}

.btn-main-orange:active {
  -webkit-box-shadow: inset 0px 0px 4px 0px #333333;
          box-shadow: inset 0px 0px 4px 0px #333333;
}

.btn-main-orange button {
  border: none;
  background: none;
}

.auth-form-container {
  padding: 20px 0px;
  position: absolute;
  top: unset;
  right: unset;
  bottom: unset;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 320px;
}

.auth-form-container .auth-header {
  color: #e6b87c;
  font-size: 20px;
}

.auth-form-container form .row {
  margin: 14px 0;
}

.auth-form-container form .row .col-3 {
  padding: 0;
  text-align: right;
}

.auth-form-container form .row .input-label {
  color: #e6b87c;
  padding: 5px 0;
}

.auth-form-container form .btn-main-orange {
  margin-top: 10px;
  padding: 6px 100px;
}

.auth-form-container form .auth-switch {
  color: white;
  margin-top: 30px;
  font-size: 14px;
}

.input-field input {
  border: none;
  background-color: #cab79d6e;
  padding: 5px 0px 5px 10px;
  border-radius: 10px;
}

.input-field input::-webkit-input-placeholder {
  color: rgba(185, 184, 184, 0.568);
}

.input-field input:-ms-input-placeholder {
  color: rgba(185, 184, 184, 0.568);
}

.input-field input::-ms-input-placeholder {
  color: rgba(185, 184, 184, 0.568);
}

.input-field input::placeholder {
  color: rgba(185, 184, 184, 0.568);
}
/*# sourceMappingURL=style.css.map */