* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
}

.app-container .header-light-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #e6b87c15;
}

.app-container .header-light-bar div {
  color: #d8b18294;
  padding: 5px 10px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .app-container .header-light-bar div:hover {
    color: #e6b87c;
  }
}

.app-container .header-light-bar .header-auth-name {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #e6b87c;
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  letter-spacing: unset;
}

.app-container .app-header {
  font-family: 'Courier New', Courier, monospace;
  color: #e6b87c;
  font-size: 3.5rem;
  font-weight: bold;
  font-style: normal;
  letter-spacing: unset;
  padding-top: 20px;
}

.app-container .app-content {
  width: 100%;
  position: relative;
}

.app-container .app-content::before {
  content: "";
  position: absolute;
  top: 0px;
  right: unset;
  bottom: unset;
  left: 50%;
  height: 2px;
  width: 70vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #d8b18294;
}

.nav-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
}

.nav-btn-container .tab-active {
  color: #e6b87c;
}

.nav-btn-container .tab-active::before {
  width: 100%;
}

.nav-btn-container div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #aaaaaa;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 1px;
  margin: 10px 20px;
  padding: 5px 0px;
  cursor: pointer;
  position: relative;
}

.nav-btn-container div::before {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0px;
  height: 3px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: #e6b87c;
  width: 0px;
}

.nav-btn-container div:hover {
  color: #e6b87c;
}

.nav-btn-container div:hover::before {
  width: 100%;
}

.polling-containter {
  margin-top: 20px;
  color: white;
}

.polling-containter .polling-btn-start {
  margin: 10px;
}

.btn-main-danger,
.btn-main-orange {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none !important;
  cursor: pointer;
}

.btn-main-danger:active,
.btn-main-orange:active {
  -webkit-box-shadow: inset 0px 0px 4px 0px #333333;
          box-shadow: inset 0px 0px 4px 0px #333333;
}

.btn-main-danger button,
.btn-main-orange button {
  border: none;
  background: none;
}

.btn-main-orange {
  background-color: #e6b87c;
  -webkit-box-shadow: 0px 0px 4px 0px #e7c89f;
          box-shadow: 0px 0px 4px 0px #e7c89f;
  color: #555555;
}

.btn-main-danger {
  background-color: #ec3c3c;
  -webkit-box-shadow: 0px 0px 4px 0px #792e2e;
          box-shadow: 0px 0px 4px 0px #792e2e;
  color: #dfdfdf;
}

.auth-form-container {
  padding: 20px 0px;
  position: absolute;
  top: unset;
  right: unset;
  bottom: unset;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 380px;
}

@media only screen and (max-width: 767px) {
  .auth-form-container {
    width: 340px;
  }
}

.auth-form-container .auth-header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #e6b87c;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: unset;
  letter-spacing: 1px;
}

.auth-form-container form .row {
  margin: 14px 0;
}

.auth-form-container form .row .col-3 {
  padding: 0;
  text-align: right;
}

.auth-form-container form .row .input-label {
  color: #e6b87c;
  padding: 5px 0;
}

.auth-form-container form .btn-main-orange {
  margin-top: 10px;
  padding: 6px 120px;
}

.auth-form-container form .form-errmsg {
  color: #ec3c3c;
}

.auth-form-container form .auth-switch {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #dfdfdf;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: unset;
  margin-top: 30px;
  cursor: pointer;
}

.input-field input {
  border: none;
  outline: none;
  background-color: #cab79d6e;
  padding: 5px 0px 5px 10px;
  border-radius: 10px;
  width: 100%;
}

.input-field input::-webkit-input-placeholder {
  color: rgba(185, 184, 184, 0.568);
}

.input-field input:-ms-input-placeholder {
  color: rgba(185, 184, 184, 0.568);
}

.input-field input::-ms-input-placeholder {
  color: rgba(185, 184, 184, 0.568);
}

.input-field input::placeholder {
  color: rgba(185, 184, 184, 0.568);
}

.input-field .error-border {
  border: 1px solid #ec3c3c;
}

.input-field .error-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #ec3c3c;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: unset;
  padding-left: 8px;
  text-align: left;
}

.new-poll-container {
  margin: 20px;
  text-align: left;
}

.poll-setting-form {
  position: relative;
  background-color: #d8b18252;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
}

@media only screen and (min-width: 768px) {
  .poll-setting-form {
    padding: 20px 40px;
    width: 80%;
    position: relative;
    top: unset;
    right: unset;
    bottom: unset;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.poll-setting-form .poll-question p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e6b87c;
  font-size: 1.8rem;
  font-weight: bold;
  font-style: normal;
  letter-spacing: unset;
}

.poll-setting-form .poll-question .input-field {
  margin-bottom: 20px;
}

.poll-setting-form .poll-options .option-func {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.poll-setting-form .poll-options .option-func .header-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e6b87c;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: unset;
}

.poll-setting-form .poll-options .option-func .btn-main-orange {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #555555;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: unset;
  padding: 3px 10px;
  height: 25px;
  cursor: pointer;
}

.poll-setting-form .poll-options .input-field {
  margin-bottom: 8px;
}

.poll-setting-form .poll-setting {
  margin-top: 20px;
}

.poll-setting-form .poll-setting .setting-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e6b87c;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: unset;
}

.poll-setting-form .poll-setting .set-public,
.poll-setting-form .poll-setting .set-mutiple-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.poll-setting-form .poll-setting .set-public p,
.poll-setting-form .poll-setting .set-mutiple-choice p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #dfdfdf;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  letter-spacing: unset;
}

.poll-setting-form .poll-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
}

.poll-setting-form .poll-btn .btn-main-orange {
  margin: 0px 10px;
  height: 35px;
  padding: 0 20px;
}

.poll-setting-form .poll-btn .btn-main-danger {
  height: 35px;
  padding: 5px 20px;
}

.poll-card-container {
  position: relative;
  top: unset;
  right: unset;
  bottom: unset;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #e7c89f;
  max-width: 800px;
  margin: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 3px 0px #dfdfdf;
          box-shadow: 1px 1px 3px 0px #dfdfdf;
}

.poll-card-container .poll-question {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #555555;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: normal;
  letter-spacing: unset;
  text-align: left;
  padding: 10px 0px 10px 20px;
}

.poll-card-container .poll-options {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #555555;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: unset;
  text-align: left;
  padding: 0px 0px 10px 20px;
}

.poll-card-container .poll-options ul {
  list-style: circle;
}

.poll-card-container .poll-options ul li {
  margin-left: 30px;
}

.poll-card-container .poll-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 20px;
}

.poll-card-container .poll-info .poll-user-created {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #555555;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  letter-spacing: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.poll-card-container .poll-info .poll-updated-time {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #555555;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: unset;
}
/*# sourceMappingURL=style.css.map */