* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

$theme-colors: (
  "off-white":        #dfdfdf,
  "disabled-text":    #aaaaaa,
  "dark-orange":      #e0662e,
  "main-orange":      #e6b87c,
  "dim-orange":       #d8b18294,
  "shadow-orange":    #e7c89f,
  "shadow-dark":      #333333,
  "light-bar":        #e6b87c15,
  "dim-black":        #555555,
  "placeholder-bg":   #cab79d6e,
  "placeholder-text": rgba(185, 184, 184, 0.568),
  "danger-text":      rgb(236, 60, 60)
);

$breakpoints: (
  "phone":        576px,
  "tablet":       768px,
  "tablet-wide":  992px,
  "desktop":      1200px,
  "desktop-wide": 1440px
);

// Media querries
@mixin mq($width, $type: min) {
  @if map-has-key($map: $breakpoints, $key: $width){
    $width: map-get($map: $breakpoints, $key: $width);
    @if $type == max {
      $width: $width - 1px;
      @media only screen and (max-width: $width) {
        @content;
      }
    } @else {
      @media only screen and (min-width: $width) {
        @content;
      }
    }
  }
};

// Display set
@mixin display ($type: unset, $justifyConten: unset, $alignItems: unset, $flexDirection: row) {
  display: $type;
  justify-content: $justifyConten;
  align-items: $alignItems;
  flex-direction: $flexDirection;
}

@mixin pos ($type: unset, $top: unset, $right: unset, $bottom: unset, $left: unset) {
  position: $type;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

.app-container {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  @include display(flex, unset, center, column);

  .header-light-bar {
    width: 100%;
    @include display(flex, flex-end, unset);
    background-color: map-get($map: $theme-colors, $key: light-bar);

    div {
      color: map-get($map: $theme-colors, $key: dim-orange);
      padding: 5px 10px;
      cursor: pointer;

      @include mq(tablet, min) {
        &:hover {
          color: map-get($map: $theme-colors, $key: main-orange);
        }
      }
    }
  }

  .app-header {
    font-size: 3.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: map-get($map: $theme-colors, $key: main-orange);
    padding-top: 20px;
  }

  .app-cross-line {
    width: 70vw;
    height: 2px;
    background-color: map-get($map: $theme-colors, $key: dim-orange);
  }

  .app-content {
    width: 100%;
  }
}

.nav-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  .tab-active {
    color: map-get($map: $theme-colors, $key: main-orange);

    &::before {
      width: 100%;
    }
  }

  div {
    color: map-get($map: $theme-colors, $key: disabled-text);
    margin: 10px 20px;
    padding: 5px 0px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    &::before {
      position: absolute;
      content: "";
      bottom: 0px;
      left: 0px;
      height: 3px;
      transition: 0.6s;
      background-color: map-get($map: $theme-colors, $key: main-orange);
      width: 0px;
    }

    &:hover {
      color: map-get($map: $theme-colors, $key: main-orange);
    }

    &:hover::before {
      width: 100%;
    }
  }
}

.polling-containter {
  margin-top: 20px;
  color: white;

  .polling-btn-start {
    margin: 10px;
  }
}

.btn-main-orange {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: map-get($map: $theme-colors, $key: main-orange);
  color: map-get($map: $theme-colors, $key: dim-black);
  border: none;
  outline: none!important;
  box-shadow: 0px 0px 4px 0px map-get($map: $theme-colors, $key: shadow-orange);
  
  &:active {
    box-shadow: inset 0px 0px 4px 0px map-get($map: $theme-colors, $key: shadow-dark);
  }

  button {
    border: none;
    background: none;
  }
}

.auth-form-container {
  padding: 20px 0px;
  @include pos(absolute, $left: 50%);
  transform: translateX(-50%);
  width: 380px;

  @include mq(tablet, max) {
    width: 340px;
  }

  .auth-header {
    color: map-get($map: $theme-colors, $key: main-orange);
    font-size: 20px;
  }

  form {
    .row {
      margin: 14px 0;

      .col-3 {
        padding: 0;
        text-align: right;
      }

      .input-label {
        color: map-get($map: $theme-colors, $key: main-orange);
        padding: 5px 0;
      }
    }

    .btn-main-orange {
      margin-top: 10px;
      padding: 6px 100px;
    }

    .auth-switch {
      color: white;
      margin-top: 30px;
      font-size: 14px;
    }
  }
}

.input-field {
  input {
    border: none;
    outline: none;
    background-color: map-get($map: $theme-colors, $key: placeholder-bg);
    padding: 5px 0px 5px 10px;
    border-radius: 10px;
    width: 100%;

    &::placeholder {
      color: map-get($map: $theme-colors, $key: placeholder-text);
    }
  }

  .error-border {
    border: 1px solid map-get($map: $theme-colors, $key: danger-text);
  }

  .error-text {
    color: map-get($map: $theme-colors, $key: danger-text);
    font-size: 14px;
    padding-left: 8px;
    text-align: left;
  }
}